*{
    box-sizing: border-box;
}

body{
    background-color: rgb(2, 2, 151);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh; 
    padding: 20px;
}

#container-one  {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 30%;
}

#container-one img {
    width: 300px;
    height: auto;
}

#container-one h2{
    color: white;
    font-size: 35px;
    margin-bottom: 10px;
}

#container-one ul{
    color: white;
    margin-top: 3px;
    font-size: 20px;
}

#container-two{
    width: 700px;
    height: auto;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
}

.logo{
    text-align: center;
}

.logo img{
    margin-top: 20px;
    width: 180px;
    height: 80px;
}

h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(1, 1, 41);
}

p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.highlight{
    background-color: lightgray;
    margin: 10px;
    padding: 20px;
}

#info{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0;
}

#info input{
    height: 30px;
    width: 250px;
    border-radius: 3px;
    padding: 10px;
    
}

.all-input{
    border-radius: 3px;
    margin: 0 10px 10px;
}

.all-input input,select{
    width: 100%;
    height: 30px;
    padding: 0, 10px, 20px;
}

#more{
    text-align: justify;
    font-size: 13px;
    color: gray;
    padding: 0 10px;
}

a{
    color: rgb(0, 115, 247);
    text-decoration: none;
}

.check {
    padding: 0 10px;
    display: flex;
    align-items: flex-start; 
    gap: 10px; 
    max-width: 600px; 
}

.check label {
    text-align: justify;
    font-size: 16px;
    color: #333;
}


button {
    width: 100%;
    height: 50px; 
    color: white;
    background: linear-gradient(to bottom, #2e2ea5 , #0712e4);
    padding: 10px; 
    border-radius: 7px;
    font-size: 20px;
    margin: 50px 0 10px;
    border: none;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#in{
    text-align: center;
    margin-bottom: 30px;
}

label {
    color: rgb(40, 36, 36); 
}

input{
    border: gray solid 1px;
}

